{
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-function-name",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-template-literals"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "loose": true
          }
        ]
      ]
    },
    "umd": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-umd",
          {
            "loose": true
          }
        ]
      ],
      "moduleId": "Reselect"
    },
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "loose": true
          }
        ],
        "@babel/plugin-transform-shorthand-properties"
      ]
    }
  }
}
