node_modules
lib
.nyc_output
coverage
dist
es
.vscode
.idea
flow_test/should_fail/flow-typed/index.js.flow
flow_test/should_pass/flow-typed/index.js.flow
reselect-builds/
trace

typesversions
.cache
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz

website/translated_docs
website/build/
website/node_modules
website/i18n/*
website/.yarn/

docs/examples/**/*.js
docs/examples/**/*.jsx

tsconfig.vitest-temp.json

.yalc
yalc.lock
