language: node_js
node_js:
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
script:
      - npm run lint
      - npm test
      - npm run test:cov
      - npm run compile
      - npm run test:typescript

after_success:
  - cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
